language: python
matrix:
    include:
        - python: 3.6
        # - name: "Python 3.7.1 on Xenial Linux"
        #   python: 3.7           # this works for Linux but is ignored on macOS or Windows
        #   dist: xenial          # required for Python >= 3.7

env:
    global:
        # Doctr deploy key for npaulson/pduq
        - secure: "ociLr3CUnYVzN0H0j2el9uasukqcjFPp+rnE6qytaAYSRq7g9x/YnmtYKq/A1rlREn8ft1Pf0Ok7dDEkN7n0M3EVLC7eJ5IVt2SbbB+OoS1qLUeFJTPolYOt6xknzGtMB0NUZUmNIYdO3HmBQYzcmQ6SBTao7/+4XFKDVtn3FtHEZ1Hlgxty2LFHkm5EM/o1Ynqp+IzOSlWCCzLbwJPD2Y+hsU8YstIwzVEbzpGZAAQpFa36rXEDDXBZ+2nTs6JaLftZSMSuzv49KEfkEg33WzI2ahiCBJNhnFfDVA6hmc/AKXLqt8wVP8vX7hxs3T+YyiuaELZjpAxep3ut4fl/oqj11seLae1BEinyVKEY6DcocenTBw8HPoOl+sBKqaFmmMujhQaxbL/PAep8ntSQj6jcr0a207xEDR/0TIQNBw4XYrrLOdWRb6P630G/znMOKoAX3Kr2omHwh18VbM2SnzLLtcpwz2u8/L9sUfdURyGUfVrJzFplT+JWC+JNFmvRadDJ3lXJLcyNUdSbVlR2iK8nPPC0G+LeFQ3RfHPd+h1VY52FbuRjzpoPER3M5B/HNwPZOdTkxKQh6mRF4HM0uYRsVhpoCASyu33KxlZ3jttLi2m1vmQQoYNmNfMoqWq+zdL9lUrgCh+E9LCjufX7VHmNqwiAd2QJbLiCjIyp78k="

install:
  - sudo apt-get update
  # The following copied from conda documentation.
  - wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  # Useful for debugging any issues with conda
  - conda info -a
  - conda create -q -n pduq-env python=$TRAVIS_PYTHON_VERSION
  - source activate pduq-env
  - conda install -c conda-forge -c pycalphad 'pycalphad>=0.8' numpy scipy 'sympy>=1.2' six 'dask>=0.18' distributed 'tinydb>=3.8' scikit-learn emcee pyyaml cerberus bibtexparser sphinx sphinx_rtd_theme pytest nose mock twine seaborn flake8 espei
before_script:
  - source activate pduq-env
  - pip install -e '.[dev]'
  - echo '!!! Installed packages'
  - conda list
  - echo '!!! Local directory'
  - ls -lh
  # # Configure matplotlib to use the agg backend to prevent issues on py27
  # - "echo 'backend : Agg' > matplotlibrc"
script:
  # - coverage run -m pytest
  # - coverage report =m
  # - code cov
  - flake8
  - pytest
  - set -e
  - make -C docs html
  - pip install doctr
  - doctr deploy --built-docs <path/to/built/html/> <target-directory>
notifications:
  email: False
